In [46]:
import sqlite3
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [65]:
# Create your connection.
cnx = sqlite3.connect('db.sqlite3')

df = pd.read_sql_query("SELECT * FROM gui_forwards", cnx)

In [66]:
df.head()

,id,forward_date,chan_id_in,chan_in_alias,chan_out_alias,amt_in_msat,amt_out_msat,fee,chan_id_out
0,1,2022-07-07 23:53:21,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
1,2,2022-07-07 23:53:36,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
2,3,2022-07-07 23:53:51,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
3,4,2022-07-07 23:54:05,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
4,5,2022-07-08 16:31:36,817425322679402496,LightningNetwork.Plus,WalletOfSatoshi.com,150016500,150001500,15.000,818212573014982656

In [67]:
df['forward_date'] = pd.to_datetime(df['forward_date'])

In [68]:
df = df.set_index('forward_date')

In [69]:
df['count'] = 1

In [72]:
seven = df.loc['2022-10-31':'2022-11-06']

In [73]:
len(seven)

12

In [74]:
seven.head()

,id,chan_id_in,chan_in_alias,chan_out_alias,amt_in_msat,amt_out_msat,fee,chan_id_out,count
forward_date,,,,,,,,,
2022-10-31 00:41:27,937,817904709708283904,ZerofeeCLN,0337cb9d68ee1a07e2c2,150003000,150000000,3.000,818387395288694784,1
2022-10-31 11:35:01,938,817904709708283904,ZerofeeCLN,nodlino,42011345,42010505,0.840,818386295788601345,1
2022-10-31 11:35:33,939,817904709708283904,ZerofeeCLN,nodlino,42011345,42010505,0.840,818386295788601345,1
2022-10-31 14:42:28,940,817437417321398273,i'llTryAnythingOnce,Redwing Cherokee,271251834,271224712,27.122,818222468651679745,1
2022-10-31 14:59:29,941,818387395288694784,0337cb9d68ee1a07e2c2,ACINQ,451630278,451621246,9.032,818721646862860289,1

In [82]:
value = seven['amt_out_msat'].sum()/1000

In [83]:
print(f'{value:,}')

2,403,996.041