In [646]:
import sqlite3
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [647]:
# Create your connection.
cnx = sqlite3.connect('db.sqlite3')

df = pd.read_sql_query("SELECT * FROM gui_forwards", cnx)

df['forward_date'] = pd.to_datetime(df['forward_date'])
df = df.set_index('forward_date')

In [648]:
df.head()

,id,chan_id_in,chan_in_alias,chan_out_alias,amt_in_msat,amt_out_msat,fee,chan_id_out
forward_date,,,,,,,,
2022-07-07 23:53:21,1,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
2022-07-07 23:53:36,2,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
2022-07-07 23:53:51,3,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
2022-07-07 23:54:05,4,817901411243655168,MUISCA,ZerofeeCLN,72001792,72001720,0.072,817904709708283904
2022-07-08 16:31:36,5,817425322679402496,LightningNetwork.Plus,WalletOfSatoshi.com,150016500,150001500,15.000,818212573014982656

In [649]:
l1 = list(df['chan_in_alias'].unique())

In [650]:
l2 = list(df['chan_out_alias'].unique())

In [651]:
channels = list(set(l1 + l2))

In [652]:
channels_to_id = {p: i for i, p in enumerate(channels)}

In [653]:
# channels_to_id

In [654]:
df = df[['chan_in_alias', 'chan_out_alias']]

In [655]:
df = df.head(20).reset_index(drop=True)

In [656]:
df.head()

           chan_in_alias       chan_out_alias
0                 MUISCA           ZerofeeCLN
1                 MUISCA           ZerofeeCLN
2                 MUISCA           ZerofeeCLN
3                 MUISCA           ZerofeeCLN
4  LightningNetwork.Plus  WalletOfSatoshi.com

In [657]:
rows, cols, vals = [], [], []

In [658]:
df.iloc[0]

chan_in_alias         MUISCA
chan_out_alias    ZerofeeCLN
Name: 0, dtype: object

In [659]:
channels_to_id['MUISCA']

9

In [664]:
for x in df.index:
#     print(x)
#     print(f'row: {df.iloc[x][0]}')
    rows.append(channels_to_id[df.iloc[x][0]])
#     print(f'col: {df.iloc[x][1]}')
#     print()
    cols.append(channels_to_id[df.iloc[x][1]])
    vals.append(1)